@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.HeroContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.HeroContent h1 {
  font-family: "Newsreader", serif;
  font-size: 96px;
  color: #3e4375;
  text-align: center;
  line-height: 75px;
  padding-top: 20px;
}

.HeroContent h2 {
  font-family: "Newsreader", serif;
  font-size: 32px;
  color: #3e4375;
  text-align: left;
  padding-top: 80px;
  padding-left: 100px;
  line-height: 20px;
  font-weight: 200;
}

.WorkContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #3e4375;
}

.aboutContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.WorkContent h1.aboutWork {
  text-align: left;
  padding-left: 80px;
  font-family: "Newsreader", serif;
  font-size: 116px;
  color: white;
  line-height: 100px;
}

.WorkContent h1.aboutSessions {
  text-align: left;
  padding-left: 0px;
  font-family: "Newsreader", serif;
  font-size: 116px;
  color: white;
  line-height: 100px;
}

.WorkContent h1.aboutContact {
  text-align: left;
  padding-left: 60px;
  font-family: "Newsreader", serif;
  font-size: 116px;
  color: white;
  line-height: 100px;
}

.aboutContainer h1 {
  font-family: "Newsreader", serif;
  font-size: 96px;
  color: #3e4375;
  text-align: left;
}

.aboutContainer p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #3e4375;
  text-align: left;
  line-height: 30px;
  width: 70%;
  padding-top: 50px;
}
