

:root {
  --main-color: white; /* Default color (white) */
}



.heading {
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Newsreader", serif;
  font-size: 116px;
  color: var(--main-color);
  text-align: center;
  line-height: 75px;
  z-index: 1;
  white-space: nowrap;
}

.subHeading {
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Newsreader", serif;
  font-size: 32px;
  color: var(--main-color);
  text-align: center;
  line-height: 75px;
  z-index: 1;
  white-space: nowrap;
}

.mainParagraph {
  position: absolute;
  bottom: 50px;
  right: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: var(--main-color);
  text-align: left;
  max-width: 500px;
  line-height: 1.6;
  z-index: 1;
}

.mainButton {
  margin-top: 20px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: var(--main-color);
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
