.heading {
  position: absolute;
  top: 250px; /* Position from top of the screen */
  left: 50%; /* Center the heading horizontally */
  transform: translateX(-50%); /* Offset the center alignment */
  font-family: "Newsreader", serif; /* Set the font-family */
  font-size: 96px; /* Font size for the heading */
  color: white; /* Set the text color */
  text-align: center; /* Center the text */
  line-height: 75px; /* Line height */
  z-index: 1; /* Ensure it stays on top of the image */
  white-space: nowrap; /* Prevent the text from wrapping to multiple lines */
}

.headingLine1 {
  position: absolute;
  top: 100px; /* Position from top of the screen */
  left: 50%; /* Center the heading horizontally */
  transform: translateX(-50%); /* Offset the center alignment */
  font-family: "Newsreader", serif; /* Set the font-family */
  font-size: 42px; /* Font size for the heading */
  color: white; /* Set the text color */
  text-align: center; /* Center the text */
  line-height: 75px; /* Line height */
  padding-top: 20px; /* Padding from the top */
  z-index: 1; /* Ensure it stays on top of the image */
  line-height: 20px;
  font-weight: 200;
}
