@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.workContainer {
  padding-top: 180px;
  padding-bottom: 60px;
}

#sessionsTitle {
  font-family: "Newsreader", serif;
  font-size: 116px;
  color: #002A3C;
  text-align: left;
  line-height: 1.1;
  margin-bottom: 20px;
  
}

.workContainer h2 {
  font-family: "Newsreader", serif;
  font-size: 32px;
  color: #002a3c;
  text-align: left;
  line-height: 1.6;
  padding-bottom: 15px;
}

.workContainer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #002A3C;
  text-align: left;
  line-height: 1.6;
  padding-bottom: 30px;
}

.workButton {
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #002a3c;
  background-color: transparent;
  border: 1.5px solid #002a3c;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.workButton:hover {
  background-color: #002a3c;
  color: white;
  transform: translateY(-2px);
}

.ctaButtonWrapper {
  margin-top: 50px;
}


/* ----- Tablet Styles (768px to 1026px) ----- */
@media (max-width: 1024px) {
  .workContainer {
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 20px;
  }


#sessionsTitle {
    font-size: 50px; 
    margin-bottom: 100px;

  }

.workContainer h2 {

  font-size: 28px;

}

  .workContainer p {
    font-size: 16px; 
  }

   .workButton {
    padding: 10px 20px;
    font-size: 14px;
  }
  
}

/* Mobile Responsiveness */
@media (max-width: 767px) {
#sessionsTitle {
    font-size: 60px; 
    margin-bottom: 150px;
  }

    h2 {
    font-size: 24px;
    padding-top: 30px;
  }

  .workContainer p {
    font-size: 16px; 
    line-height: 1.5;
  }

  .workButton {
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 25px;
  }

}