
.workContainer {
  padding-top: 180px;
  padding-bottom: 60px;
}


.workTitle {
  font-family: "Newsreader", serif;
  font-size: 96px;
  color: #002A3C;
  text-align: left;
  line-height: 1.1;
  margin-bottom: 20px;
  
}

.workContainer h2 {
  font-family: "Newsreader", serif;
  font-size: 32px;
  color: #002a3c;
  text-align: left;
  line-height: 1.6;
  padding-bottom: 15px;
}


.workContainer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #002A3C;
  text-align: left;
  line-height: 1.6;
  padding-bottom: 30px;
}

.workButton {
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #002a3c;
  background-color: transparent;
  border: 1.5px solid #002a3c;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.workButton:hover {
  background-color: #002a3c;
  color: white;
  transform: translateY(-2px);
}

.ctaButtonWrapper {
  margin-top: 50px;
}

  /* Your iPad Pro-specific styles here */
@media screen and (min-width: 1025px) and (max-width: 1366px) {

.workTitle {
  
  font-size: 70px;
}

}


/* ----- Tablet Styles (768px to 1024px) ----- */
@media (max-width: 1024px) {
  

.workContainer {
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 20px;
}

.workTitle {
 font-size: 60px; 
 margin-bottom: 10px; 
}

.workContainer h2 {
  font-size: 30px;
  line-height: 1.5;
  padding-bottom: 5px;
}


.workContainer p {
  font-size: 16px; 
    padding-bottom: 5px;
}



}


/* Mobile and Tablet Responsiveness for About Section */
@media only screen and (max-width: 768px) {
  
.workTitle {
  font-size: 60px; 
    margin-bottom: 150px;
  
}

.workContainer h2 {
   font-size: 30px;
  line-height: 1.5;
  padding-bottom: 5px;
}


.workContainer p {
    font-size: 16px; 
    line-height: 1.5;
     padding-bottom: 20px;
}

 
}


/* ----- Mobile Styles (under 767px) ----- */
@media (max-width: 767px) {
  
.workContainer {
  padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 20px;
}


.workTitle {
  padding-top: 120px;
    font-size: 60px; 
    margin-bottom: 150px; 
  
}

.workContainer h2 {
  font-size: 30px;
  line-height: 1.5;
  padding-bottom: 15px;
}


.workContainer p {
   font-size: 16px; 
   line-height: 1.5;
    
}


}


